---
---

@import "minima";

body {
  background-color: #121212;
  color: #ffffff;
}

a {
  color: #bb86fc;
}

header, footer {
  background-color: #1f1f1f;
}

.post {
  background-color: #1e1e1e;
  border: 1px solid #333;
  padding: 20px;
  margin-bottom: 20px;
}

.post-title {
  color: #bb86fc;
}

.post-content {
  color: #e0e0e0;
}
